@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Restaurant </h1>
        <p class="lead">This is a Restaurant menu directory.</p>
        
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Menu</h2>
            <p>
                Discover all the menu items available at the restaurant
            </p>
            <p><a class="btn btn-outline-dark" href="/Menu/List">Go to menu &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">
            <h2 id="librariesTitle">Categories</h2>
            <p>View all the categories of food available</p>
            <p><a class="btn btn-outline-dark" href="/Category/List">Go to Category &raquo;</a></p>
        </section>
       
    </div>
</main>